@import '~react-datepicker/dist/react-datepicker.css';

.card-header{
  padding: 0.5rem 0.5rem !important;
}

.btn-link{
  text-decoration: none !important;
}

#headingOne{
  margin-left: 0px;
}

.elementoAcordeon {
  margin-bottom: 10px;
  border-right: solid 1px #75ff75db;
}

.elementoAcordeonAcciones {
  width: 408px !important;
  margin-bottom: 10px;
  border-radius: 12px;
  border-right: solid 1px green;
  border-bottom: solid 1px green;
}

.accionIndividual{
  margin-left: 10px;
}

#estadoSolicitudAgregarEmpresa, #estadoSolicitudAgregarValorDia{
  height: 38px;
}

#botonSolicitud{
  margin: 10px 16px;
}

#nombreUsuario{
  color: white;
}

#datePicker{
  margin-left: 84px;
}

#funcionalidadFooter{
  margin: 0px;
  padding: 46px;
  background-color: #80808036;
}

#funcionalidadAgregarValorDia{
  border-right: solid 1px green;
}

#totalIngresos{
  right: 30px;
  position: absolute;
  margin: 10px 0px 0 0;
}

 #inputValorDia{
   position: relative;
   bottom: 5px;
   right: 15px;
 }

.tituloFuncionalidad{
  margin-bottom: 10px;
}

.elementosCollapse {
  padding: 20px 0 0 50px;
  background-color: #abfbff73;
}

#cabeceraInformacion{
  padding: 15px;
}

#informacion{
  padding: 15px;
}

 .columnaBotones{
   margin-bottom: 0px !important;
 }