{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href='{{ asset('build/css/app.css') }}'>
{% endblock %}

{% block title %}
    <span id="title"></span>
{% endblock %}

{% block usuario %}
    <div id="nombreUsuario"></div>
{% endblock %}

{% block body %}

    <div class="accordion" id="acordeonMenu">
        <div class="card">
            <div class="card-header row" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseCC" aria-expanded="true" aria-controls="collapseCC">
                        <i class="fa fa-credit-card fa-sm"></i>
                        Cuentas corrientes
                    </button>
                </h2>
                <div id="totalIngresos"></div>
            </div>

            <div id="collapseCC" class="collapse elementosCollapse" aria-labelledby="headingOne" data-parent="#acordeonMenu">
                <div id="cc"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseAcciones" aria-expanded="false" aria-controls="collapseAcciones">
                        <i class="fa fa-handshake-o fa-sm"></i>
                        Acciones
                    </button>
                </h2>
            </div>
            <div id="collapseAcciones" class="collapse elementosCollapse" aria-labelledby="headingTwo" data-parent="#acordeonMenu">
                <div id="acciones"></div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseBolsa" aria-expanded="false" aria-controls="collapseBolsa">
                        <i class="fa fa-building-o"></i>
                        Bolsa
                    </button>
                </h2>
            </div>
            <div id="collapseBolsa" class="collapse elementosCollapse" aria-labelledby="headingBolsa" data-parent="#acordeonMenu">
                <div id="bolsa"></div>
            </div>
        </div>
    </div>

    <div id="contenedorInformacion">
        <div id="cabeceraInformacion"></div>
        <div id="informacion"></div>
    </div>

    <div class="d-flex justify-content-around">
        <div id="botonAgregarValorDia"></div>
        <div id="botonAgregarEmpresa"></div>
    </div>


    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-primary" role="alert">
                    <div id="cabeceraModal"></div>
                    {#<h5 class="modal-title" id="modalCenterTitle">Añadir datos a la Bolsa</h5>#}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="contenidoModal" class="modal-body"></div>
                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>#}
                    {#<div id="botonGuardarModal"></div>#}
                    {#<button type="button" class="btn btn-primary">Guardar</button>#}
                {#</div>#}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}