<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='{{ asset('build/css/css.css') }}'>
    <head>
        <meta charset="UTF-8">
        <title>API WEB!</title>
    </head>
    <body>
        <h1 id="ws"> WEB SEMÁNTICA </h1>
        <h3 id="titulo"> API Accidentes bicicletas 2018 </h3>
        <div id="tabla"></div>
    </body>
    <script src="{{ asset('build/js/js.js') }}"></script>
</html>
