<!DOCTYPE html>
<html>
    <link rel="stylesheet" href='{{ asset('build/css/css.css') }}'>
    <head>
        <meta charset="UTF-8">
        <title>API WEB!</title>
    </head>
    <body>
        <div class="row justify-content-between">
            <h1 id="ws" class="col-4"> WEB SEMÁNTICA </h1>
            <div class="col-4">
                <h4> Grupo 8 </h4>
                <h5> Integrantes del grupo: </h5>
                <ul>
                    <li> Adrián Álvarez Atienza u120330 </li>
                    <li> Rafael Aineto Guerrero t110317 </li>
                    <li> Alejandro Bravo Merodio u120025 </li>
                    <li> Tomás Miranda Perales </li>
                </ul>
            </div>
        </div>
        <h3 id="titulo"> API Accidentes bicicletas 2018 </h3>
        <div id="tabla"></div>
    </body>
    <script src="{{ asset('build/js/js.js') }}"></script>
</html>
